@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif
}

body {
  background-color: #101010;
}

h1, h2, h3{
  font-family: 'Bebas Neue', cursive;
}

.dev-list-mobile-animation{
  animation: listMobile 1s;
}

@media screen and (min-width:1024px){
  .dev-list-mobile-animation{
    animation: listDesktop 1s;
  }
}


/*---- Animation ----*/

@keyframes listMobile {
  0%{
    transform: translateX(-100vw);
  }
  100%{
    transform: translateX(0vw);
  }
}

@keyframes listDesktop {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}